@font-face
{
font-family: 'Poppins' ;
font-weight: 500;
src: url('./src/assets/fonts/Poppins-Regular.ttf');

}

* {
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 500;
   
  }
 
p
{
  color: rgba(64, 62, 59, 1);
}

  html {
    font-size: 4px;
  }
  
  body {
    font-size: 4rem;
    overflow-x: hidden;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  h1, h2, h3, h4, h5, p {
    margin: 0;
  }

  .page
  {
    display: flex;
  flex-direction: column;

  align-items: center;

  position: relative;

  margin-top: 50px;
  }
  
  /*Секция шапки*/
header .content
{
  display: flex;
  gap: 450px;
  
}

.logo
{
    display: flex;
    justify-content: space-between;
}

nav ul
{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;   
}

nav ul li .nav__btn
{
  width: 150px;
  height: 40px;
  background-color: rgba(27, 26, 26, 1);
  color: white;
  font-size: 16px;
 border-style:none ;
  border-radius: 10px;
}

/*Конец секции шапки*/

/*Начало секции с баннером */

.banner__section .content
{
  display: flex;
  gap:60px;
  margin-top:30px ;
  background-color: rgba(236, 231, 228, 1);
  padding-left:300px ;
}

.banner__img
{
  width: 720px;
  height: 720px;

}
  
.banner__section .content__text .banner__logo
{
  padding-right: 270px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(100, 92, 85, 1);
}

.banner__section .content__text
{
  display: flex;
  align-items: center;
 flex-direction: column;
 gap: 20px;
  padding: 0px 100px;
  width: 600px;
  height: 560px;
  padding: 77px 60px 77px 60px;
}

.banner__section .content__text h1
{
 font-size: 64px;
 line-height: 70.4px;
 letter-spacing: 0%;
}

.banner__btn
{
  margin-top: 10px;
  margin-right: 390px;
}

/*конец секции с баннером*/

/*начало секции about*/

.about__section
{
  display: flex;
 justify-content: center;
 align-items: center;
 gap: 100px;
  height: 780px;
  
}
.about__section .content
{
 display: flex;
 flex-direction: row;
 gap: 130px;
 width: 770px; 
 height: 580px;
 

}

.about__section .content h3
{
  font-size: 32px;
  line-height: 38px;
  color: rgba(64, 62, 59, 1);
}

.about__section .content .text__content
{
  display: flex;
  flex-direction: column;
  
}

.about__section .content .text
{
  display: flex;
  flex-direction: column;
  width: 490px;
  gap: 10px;
  line-height: 24px;

}

.partner-profile
{
  display: flex; 
  padding-top: 10px;
  
}

.partner-profile .under-text
{
 display: flex;
 flex-direction: column;
 padding-top: 19px;
  padding-left: 30px;
}

.partner-profile .under-text span
{
  size: 14px;
  line-height: 14px;
  color: rgba(100, 92, 85, 1);

}
.partner-profile img
{
  width: 84px;
  height: 84px;
}

/*конец секции about*/

/*начало секции reeding house*/

/*.reeding-house__section img
{
  display: flex;
  align-items: center;
  align-content: center;
  
  width: 1920px;
  height: 600px;
  z-index: 0;
}*/
.reeding-house__section .img-block {
  position: relative;
  width: 600px;  
  height: 400px; 
  overflow: hidden;
  z-index: 0;
}

.reeding-house__image
{
  width: 1920px;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 0;
}

.reeding-house__content
{
  position: relative;
}
.reeding-house__section .reeding-house__content .content__text {
  position: absolute;
  top: 360px;      
  left: 1440px;    
  z-index: 2;

  
 
}


.reeding-house__section .reeding-house__content .content__text h4
{
 
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(64, 62, 59, 1);

}

.reeding-house__section .reeding-house__content .content__text p
{
  width: 270px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(100, 92, 85, 1);
}


/*начало секции what we do*/

.our-progress__section {
  margin: 100px 120px;
}

.our-progress__section .content .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.our-progress__section .content .header span {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(100, 92, 85, 1);
}

.our-progress__section .content .header h2 {
  font-size: 39px;
  line-height: 42px;
  margin-top: 5px;
}

.progress__logo {
  display: flex;
  justify-content: center;
  gap: 140px;
  margin-top: 50px;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-wrapper {
  background-color: #3F3C39;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper img {
  width: 50px;
  height: 50px;
}

.logo-text__container {
  max-width: 290px;
  max-height: 90px;
  margin-top: 15px;
}

.logo-text__container h4 {
  padding: 10px 0;
}

.logo-text__container p {
  font-size: 14px;
  line-height: 1.6;
  color: rgba(100, 92, 85, 1);
}

/*конец секции what we do*/

/*секция marble staircase*/

.img-block {
  position: relative;
  width: 600px;  
  height: 400px; 
  overflow: hidden;
  z-index: 0;
}

.staircase-image
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 0;
}

.staircase__content
{
  position: relative;
}
.caption {
  position: absolute;
  top: 360px;      
  left: 1440px;    
  z-index: 2;

  
 
}


.caption h4
{
 
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(64, 62, 59, 1);

}

.caption p
{
  width: 270px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(100, 92, 85, 1);
}

/*Начало секции Prior clients*/


  .prior-clients__section {
    height: 480px;
    background-color: rgba(64, 62, 59, 1);
    display: flex; /* Можно и так, если только одна .content внутри */
    justify-content: center;
    align-items: center;
}

.prior-clients__section .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px; /* фиксированная ширина на ваш выбор */
    gap: 130px;
    margin: 0 auto;
}

.prior-clients__header
{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(236, 231, 228, 1);
}
.prior-clients__block h2
{
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.prior-clients__section .content p
{
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 70px;
  color: rgba(236, 231, 228, 1);
font-size: 15px;
line-height: 24px;
letter-spacing: 0%;
padding-top: 15px;
}

.logos__block
{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  width: 430px;
}

/*Начало секции swirling staircase*/

.swirling-staircase__section
{
  position: relative;
}
.swirling-staircase__section img
{
  width: 100%;
  height: 55%;
 
 
  
}

.swirling-staircase-text__block {
  position: absolute;
  top: 360px;      
  left: 200px;    
  

  
 
}


.swirling-staircase-text__block span
{
 
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(64, 62, 59, 1);

}

.swirling-staircase-text__block p
{
  width: 270px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(100, 92, 85, 1);
}

/*Начало секции Featured projects*/
 

.featured-projects__section
{
  width: 100%;
  height: 920px;
  background-color: #F7F7F7;
}

.featured-projects__section .content
{
  display: flex;
  flex-direction: column;
  padding:120px 120px 100px 120px;
  justify-content: center;
  align-items: center;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

.featured-projects__header
{
  margin-right: 767px;
  margin-bottom: 40px;
}
.cards
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  text-align: left;

}

.second-card
{
  position: relative;
}
.second-card__header
{
  position: absolute;
  top: 40px;
  left: 40px;

}

.second-card__header p
{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #645C55;
  text-transform: uppercase;
}

.second-card__header h4
{
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0%;
  color: #403E3B;
}

.read-more__btn
{
  margin-top: 280px;
  padding: 14px 23px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: aliceblue;
  border-style: none;
  border-radius: 12px;
  background: #1B1A1A;
  cursor: pointer;
}

.view-all-btn
{
 margin-top: 50px;

  background-color: none;
  border-style: none;
  font-size: 16px;
  color: #1B1A1A;
  line-height: 24px;
  letter-spacing: 0.4px;
  cursor: pointer;
}


/*секция meet our team*/

.meet-our-team__section
{
  height: 590px;
  
}
.meet-our-team__section .content
{
  display: flex;
  justify-content: center;
  margin: 100px 140px;
   gap: 40px;
}

.meet-our-team__text-block
{
  max-width: 380px;
}

.see-team__btn
{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-top: 30px;
  margin-left: 15px;
  color: #1B1A1A;
  cursor: pointer;
}

.team__images
{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 40px 120px;


  width: 760px;
}

.team__element
{
  display: flex;
  gap: 30px;

  height: 100px;
  width: 280px;
}

.team__text h4
{
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
}

.team__text .under-text
{
font-size: 14px;
line-height: 14px;
letter-spacing: 0%;
color: #645C55;
}

/* секция get-in-touch__section*/

.get-in-touch__section
{
  height: 315px;
  background-color: #CEC4BC;
  width: 100vw;
}

.get-in-touch__section .content
{
  display: flex;
  
  align-items: center; 
}

.get-in-touch__section .content .text
{

  margin: 90px  0;
  margin-left: 136px;
  
}

.get-in-touch__section .content .text span
{
  font-size: 3.5rem;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55;
}

.get-in-touch__section .content .text h3
{
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  font-size: 10rem;

}

.get-in-touch__section .content .under-text p
{
  font-size: 4rem;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1B1A1A;
margin-left: 980px;
}

/* секция social__section*/

.social__section
{
  height: 200px;
}

.social__section .content
{
  display: flex;
}

.social__section .content .text
{
  display: flex;
  flex-direction: column;
  color: #645C55;
  line-height: 20px;
  letter-spacing: 0%;
}

.social__section .content .text .under-text
{
 
  line-height: 20px;
  letter-spacing: 0%;
 width: 690px;
 height: 40px;
}

.social__section
{
 /*border: solid black 3px;*/
 height: 200px;
}

.social__section .content .text img
{
  width:256px ;
  height: 22px;
}

.social__section .content .text
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 60px 136px ;
  width: 690px;
  height: 80px;
}

.social__section .content .icons
{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 24px;
  height: 25px;
  margin-top: 120px;
  margin-left: 360px;
}